html { 
  background: url(../images/backgroundR.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 0px;
  margin: 0px;
}


h1 {
  font-family: 'Kameron', serif;
  color: orange;
  font-size: 50px;
  margin-bottom: 0px;
  text-shadow: 5px 5px black;
}

h2 {
  font-family: 'Kameron', serif;
  color: black;
  font-size: 30px;
  margin-bottom: 0px;
}

a {
  color: #00B7FF;
}

.subtext {
  color: black;
}

.navbarfont{
  color: white;
  margin-top: 4px;
  padding-bottom: 4px;
  padding-left: 50px;
}

div#container {
  padding-left: 50px;
  padding-top: 100px;
  font: 20px Helvetica, Arial, sans-serif;
  width: 50%;
  color: white;
}

div#form {
  background-color: rgba(0,0,0,0.6);
  padding-bottom: 50px;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 40px;
}

div#secondWindow {
  background-color: orange;
  margin-top: 150px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

div#questionMarkButton {
  text-align: center;
  margin-left: -5px;
  margin-top: -15px;
}


div#confirmation {
  font-family: 'Kameron', serif, bold;
  color: white;
  font-size: 20px;
  background-color: orange;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
  text-align: center;
}

div#shrink {
}

/* -- Navigation -- */

div#navwrapper {
margin:0 auto;
margin-top: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #2D2D2D;
padding-top: 1px;
}

/* -- Button -- */
.button {
  background-color:#ffc477;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  color:black;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}.button:hover {
  background-color:#fb9e25;
}.button:active {
  position:relative;
  top:1px;
}

.padRightMarginRight {
  padding-right: 100px;
  margin-right: 20px;
}

.padRight {
  margin-right: 20px;
}